
<div th:fragment = "footer"> <!-- фрагмент футер, который юзаем везде -->

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Вверх страницы</a>
            </p>
            <p class="mb-1">Создал в учбных целях</p>
            <p class="mb-0">Просто текст с <a href="/">Ссылкой, ведущая на Главную страницу.</a> Ну или можно тыкнуть сюда для  <a href="https://vk.com/id87143163">Ссылки на Вк</a>.</p>
            <p>Моя собака замечательно разбирается в программировании. Стоит мне объяснить ей проблему - и мне все становится ясно.</p>
        </div>
    </footer>

</div>